/* #clockdiv{
	font-family: sans-serif;
	color: rgba(83, 73, 73, 0.733); */
	/* display: flex; */
    /* width: 1000px;
	font-weight: 100;
	text-align: center;
	font-size: 48px;
    justify-content: space-evenly; */
	/* background-color: white; */
	/* height: 400px;
	padding-top: 50px;
}


.semicolon {
    color: black;
}
.smalltext{
	padding-top: 5px;
	font-size: 16px;
    display: none;
}
.imageLogo {
	
	width: 450px;
	height: 450px;
}
.block {
	width: 170px;
	height: 170px;
	/* background-color: black; */
	/* display: flex;
	justify-content: center;
	align-items: center;
} */
/* .numbers {
	color: white;
	font-size: 80px;
	font-family: 'Press Start 2P', cursive;
}
.semicolon {
	display: none;
	color: white;
	font-size: 120px;
	position: relative;
	transform: translateX(-8px);
}
.alphablocks {
	color: black;
}
.numericals {
	display: flex;
	justify-content: space-evenly;
}
.alphabets {
	display: flex;
	justify-content: space-evenly;
}

.alphablocks{ */ 
	/* border: 1px black solid; */
	/* width: 170px;
	height: 60px;
	font-size: 48px;
	padding-top: 2px;
	font-family: 'Teko', sans-serif;
	color: white;
	text-align: center;
}
#dot1{
	height: 8px;
	/* background-color: red; */
	/* position: relative;
	transition: "position 800ms";
}
#dot2{
	height: 8px;
	/* background-color: red; */
	/* position: relative;
	transition: "position 800ms";
}
#dot3{
	height: 8px;
	/* background-color: red; */
	/* position: relative;
	transition: "position 800ms";
} */ 


body {overflow: hidden;

}

#myVideo {
  position: absolute !important;
  z-index: -999;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageLogoBox {
	
	width: 23.43%;
	height: 46.53%;
}
.imageLogo{
  height: 100%;
  width: 100%;
}

#dot1{
	height: 8px;
	/* background-color: red; */
	 position: relative;
	transition: "position 600ms";
}
#dot2{
	height: 8px;
	/* background-color: red; */
	 position: relative;
	transition: "position 600ms";
}
#dot3{
	height: 8px;
	/* background-color: red; */
	position: relative;
	transition: "position 600ms";
}


  
  h1 {
    font-size: 1.5em;
    margin: 19px 0 50px;
    letter-spacing: 8px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
             */
    margin-top: 25px;
  }
  
  .title {
    color: #8486a9;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .countdown-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px;
  }
  
  .countdown-block:last-child {
    margin-right: 0;
  }
  
  .time-elem {
    position: relative;
    color: white;
    position: relative;
    height: 140px;
    width: 150px;
    background-color: #33354d;
    border-radius: 8px;
    text-align: center;
    font-size: 5.5em;
    overflow: hidden;
    margin-bottom: 27px;
    line-height: 138px;
    -webkit-box-shadow: 0px 8px 0px 0px #16151d;
            box-shadow: 0px 8px 0px 0px #16151d;
  }
  
  .time-elem::before, .time-elem::after {
    content: '';
    position: absolute;
    z-index: 6;
    top: calc(50% - 5px);
    background: #24242e;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  
  .time-elem::before {
    left: -5px;
  }
  
  .time-elem::after {
    right: -5px;
  }
  
  .time-elem > span {
    position: absolute;
    left: 0;
    right: 0;
  }
  
  .top {
    z-index: 3;
    background-color: #33354d;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: perspective(200px);
            transform: perspective(200px);
  }
  
  .time-elem .top::after, .time-elem .bottom-back::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #24242e;
  }
  
  .bottom {
    z-index: 1;
  }
  
  .bottom::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #33354d;
  }
  
  .bottom-back {
    z-index: 2;
    top: 0;
    height: 50%;
    overflow: hidden;
    background-color: #33354d;
  }
  
  .bottom-back span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .top, .top-back {
    height: 50%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  .top-back {
    z-index: 4;
    bottom: 0;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
    background-color: grey;
    -webkit-transform: perspective(200px) rotateX(180deg);
            transform: perspective(200px) rotateX(180deg);
  }
  
  .top-back span {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .title{
      color: white;
  }
  
  
  /*# sourceMappingURL=main.css.map */

  /* .time-elem .top .bottom */

  #launchButtonBox {
    width: 800px;
    height: 400px;
    background-color: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 3s ease ;
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }

  #launchButton {
    width: 50%;
    height: 20%;
    font-size: 48px;
    font-family: 'Georama', sans-serif;
    border-radius: 30px;
    box-shadow: 0px 12px 1px rgba(153, 135, 135, 0.562);
    border: 1px solid black;
    background-color: #33354d;
    
  }
  
  #launchButton:hover {
    background-color: black;
    color: red;
  }
  a:hover:link{
    color: red !important;
  }
  

  #link-redirect {
    color: white;
    font-size: 48px;
    font-family: 'Georama', sans-serif;
  }
