<%- include("partials/header"); -%>
<div class="shadow">
    <img class ="pagehead" src="images/headers/Safarnama.jpg" alt="">
  </div>
<!-- <h1>Session 1-Registration Form</h1> -->
<section id="safarnamaform">
  <form method="post" autocomplete="off" name="google-sheet" id="safarnama">

<!-- Description -->

  <h4><b>Session 2-Registration Form</b></h4>
  
  <div id="Speaker">
    <p class="qdesc">Speaker</p>
    <p class="name subdesc">:&nbsp;Ms. Pareksha Manchanda</p>
  </div>
  
  <p class="qdesc">About the Speaker</p>
  <p class="subdesc">&#8211; Graduated from UIET(CSE'21)<br>&#8211; Currently a Software Engineer at Google <br>&#8211; Software Developer Intern- Amazon<br>&#8211; Joined Goldman Sachs as a Software Developer Intern</p>
  
  <p class="qdesc">About the Session</p>
  <p class="subdesc">Coding enVISION to get you all a glimpse of her software journey.</p>
  
  <p class="qdesc">Event Details</p>
  <p class="subqdesc">Date/Day: <span>19-12-2021, Sunday</span><br>Time: <span>12:00 P.M.</span></p>
  <!-- <br>Link: <a href="https://zoom.us/j/95360289506?pwd=OTdWUlAxVXB0M0hTbEp2UU0zZ2xWUT09" target="_blank" class="Link">https://zoom.us/j/95360289506?pwd=OTdWUlAxVXB0M0hTbEp2UU0zZ2xWUT09</a> -->

  
  <div id="WhatsApp">
    <p id="desc">WhatsApp Group: <a href="https://chat.whatsapp.com/Dt0MiJjtxLaEVnJbDAOu3x" target="_blank"class="Link">https://chat.whatsapp.com/Dt0MiJjtxLaEVnJbDAOu3x</a></p>
  </div>

<!-- /Description -->


<!-- Form -->

  <p>Name</p>
    <input type="text" placeholder="Name" name="Name" required/>

    <p>E-mail Id</p>
    <input type="email" placeholder="E-mail" name="Email" required/>

    <p>WhatsApp Contact Number</p>
    <input type="tel" pattern="[0-9]{10}" placeholder="Contact no." name="Contact" required />

    <p>BRANCH</p>
    <div class="branch">
    <input type="radio" name="Branch" value="CSE" required/><label for="Branch">Computer Science</label><br>
    <input type="radio" name="Branch" value="I.T" required/><label for="Branch">Information Technology</label><br>
    <input type="radio" name="Branch" value="ECE" required/><label for="Branch">Electronics And Communication</label><br>
    <input type="radio" name="Branch" value="EEE" required/><label for="Branch">Electrical And Electronics Engineering</label><br>
    <input type="radio" name="Branch" value="Mech" required/><label for="Branch">Mechanical</label><br>
    <input type="radio" name="Branch" value="BioTech" required/><label for="Branch">BioTechnology</label><br>
    </div>

    <p>Year</p>
    <div class="year">
    <input type="radio" name="Year" value="1" required/><label for="Year">1st</label><br>
    <input type="radio" name="Year" value="2" required/><label for="Year">2nd</label><br>
    <input type="radio" name="Year" value="3" required/><label for="Year">3rd</label><br>
    <input type="radio" name="Year" value="4" required/><label for="Year">4th</label><br>
    </div>

    <!-- <p>Expectations from the session</p>
    <textarea rows="4" cols="50" placeholder="Expectations" name="Expectations"></textarea> -->

    <p>Questions for the speaker</p>
    <textarea rows="4" cols="50" placeholder="Questions" name="Speaker"></textarea>
    
    <!-- <p>Do you want to interact with the speaker ?</p>
    <div class="Interact">
    <input type="radio" name="Interact" value="Yes" required/><label for="Interact">Yes</label><br>
    <input type="radio" name="Interact" value="No" required/><label for="Interact">No</label><br>
    </div> -->
    
    <p>Have you joined the WhatsApp Group</p>
    <div class="Interact">
    <input type="radio" name="Interact" value="Yes" required/><label for="Interact">Yes</label><br>
    <input type="radio" name="Interact" value="No" required/><label for="Interact">No</label><br>
    </div>
    </form>
    <h5 id="tcs"></h5>

<!-- /Form -->
</section>
<input type="submit" class="button btn-submit" id="submit" form="safarnama"></input>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="index.js"></script>


<script>
  var i=0;
  const scriptURL = 'https://script.google.com/macros/s/AKfycbxBGIVVpNHxoNeRRoqpwhX4-R_bQfbev9R0K8TIrYhRtSgnLus/exec'
  const form = document.forms['google-sheet']

  form.addEventListener('submit', e => {
    if(i==0)
    {
      document.getElementById("tcs").textContent="Wait...";
      document.getElementById("tcs").style.fontSize="17px";
      document.getElementById("tcs").style.fontFamily="'Roboto Slab', serif";
      document.getElementById("tcs").style.margin="auto";
      document.getElementById("tcs").style.padding="25px 0 0 0";
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => document.getElementById("tcs").textContent="Form Submitted Successfully !", document.getElementById("tcs").style.color="green")
        .catch(error => console.error('Error!', error.message))
      i++;
    }
    else
    {
      document.getElementById("tcs").textContent="Form has already been Submitted !";
      document.getElementById("tcs").style.fontSize="17px";
      document.getElementById("tcs").style.fontFamily="'Roboto Slab', serif";
      document.getElementById("tcs").style.margin="auto";
      document.getElementById("tcs").style.padding="25px 0 0 0";
      document.getElementById("tcs").style.color="red";
      e.preventDefault();
    }
  })
</script>
<%- include("partials/footer"); -%>
