<%- include("partials/header(res)"); -%>
<img class="pagehead" src="images/headers/Our Team.png" style="margin-top: 46px;">
<!--Faculty Incharge-->
<div class="container mt-5">
    <div class="row d-flex justify-content-center" >
        <div class="col-12"><center><h3 style="margin-top:50px;">Faculty Incharge</h3></center>
            <hr>
        </div>
      <!--Start-->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="\images\our-team\km.jpg">
          </div>
          <div class="team-content">
            <h5 class="name">Dr. Kalpana Dahiya</h5>
            <h4 class="title">Professor (Mathematics)</h4>
          </div>
          <ul class="social">
            <li><a href="https://www.linkedin.com/in/kalpana-dahiya-50373923" target="_blank"class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <!--END-->
      <!--Start-->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="\images\our-team\Veenu_Maam.jpg">
          </div>
          <div class="team-content">
            <h5 class="name">Dr. Veenu Mangat</h5>
            <h4 class="title">Co-ordinator (I.T)</h4>
          </div>
          <ul class="social">
            <li><a href="https://www.linkedin.com/in/veenu-mangat-harsh-4a553164/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <!--END-->
      </div>
      </div>
<!-- / Faculty Incharge-->

<!--Student Team-->
      <div class="container mt-4">
        <div class="row d-flex justify-content-center">
            <div class="col-12"><center><h3>Student Team</h3></center>
                <hr>
            </div>
            <!--Start-->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="\images\our-team\Gaurav_Rajput.jpg">
              </div>
              <div class="team-content">
                <h5 class="name">Gaurav Rajput</h5>
                <h4 class="title">President</h4>
              </div>
              <ul class="social">
                <li><a href="https://www.linkedin.com/in/gaurav-rajput-b25924195/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>
          <!--END-->
          <!--Start-->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="\images\our-team\Prayas_Pahwa.jpg">
              </div>
              <div class="team-content">
                <h5 class="name">Prayas Pahwa</h5>
                <h4 class="title">Vice - President</h4>
              </div>
              <ul class="social">
                <li><a href="https://www.linkedin.com/in/prayas-pahwa-903842181/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>
          <!--END-->
          <!--Start-->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="\images\our-team\Chiraag_Garg.jpg">
              </div>
              <div class="team-content">
                <h5 class="name">Chiraag Garg</h5>
                <h4 class="title">Vice - President</h4>
              </div>
              <ul class="social">
                <li><a href="https://www.linkedin.com/in/chiraag-garg-97986919b/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>
          <!--END-->
          <!--Start-->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="\images\our-team\Aarushi_Sharma.jpg">
              </div>
              <div class="team-content">
                <h5 class="name">Aarushi Sharma</h5>
                <h4 class="title">General Secretary</h4>
              </div>
              <ul class="social">
                <li><a href="https://www.linkedin.com/in/aarushi-sharma2612/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>
          <!--END-->
          <!--Start-->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="\images\our-team\Kashish_Jhamb.jpg">
              </div>
              <div class="team-content">
                <h5 class="name">Kashish Jhamb</h5>
                <h4 class="title">Advisor</h4>
              </div>
              <ul class="social">
                <li><a href="https://www.linkedin.com/in/kashish-jhamb-7027b31b3/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>
          <!--END-->
          <!--Start-->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="\images\our-team\Piyush.jpg">
              </div>
              <div class="team-content">
                <h5 class="name">Piyush Aggarwal</h5>
                <h4 class="title">Advisor</h4>
              </div>
              <ul class="social">
                <li><a href="https://www.linkedin.com/in/piyush-aggarwal-2001/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>
          <!--END-->
          </div>
          </div>
<!-- / Student Team -->

<!--Technical-->
<div class="container mt-4">
    <div class="row d-flex justify-content-center" >
        <div class="col-12"><center><h3>Technical</h3></center>
            <hr>
        </div>
      <!--Start-->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="\images\our-team\Sanya_Aggarwal.jpg">
          </div>
          <div class="team-content">
            <h5 class="name">Sanya Aggarwal</h5>
            <h4 class="title">Head(Designing)</h4>
          </div>
          <ul class="social">
            <li><a href="https://www.linkedin.com/in/sanya-aggarwal-37bba3187/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <!--END-->

      <!--Start-->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="\images\our-team\Ravish_Kumar.jpg">
          </div>
          <div class="team-content">
            <h5 class="name">Ravish Kumar</h5>
            <h4 class="title">Sub-Head(Designing)</h4>
          </div>
          <ul class="social">
            <li><a href="https://www.linkedin.com/in/ravishxt/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <!--END-->
      
      <!--Start-->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="\images\our-team\Shivam_Kagra.jpg">
          </div>
          <div class="team-content">
            <h5 class="name">Shivam Kagra</h5>
            <h4 class="title">Head(Website)</h4>
          </div>
          <ul class="social">
          <li><a href="https://www.linkedin.com/in/shivam-kagra-8294231ba/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <!--END-->

      <!--Start-->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="\images\our-team\Raag_Bhutani.jpg">
          </div>
          <div class="team-content">
            <h5 class="name">Raag Bhutani</h5>
            <h4 class="title">Sub-Head(Website)</h4>
          </div>
          <ul class="social">
            <li><a href="https://www.linkedin.com/in/raag-bhutani-68b096201/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <!--END-->
      </div>
      </div>
<!-- / Technical-->

<!--Database Management-->
<div class="container mt-4">
    <div class="row d-flex justify-content-center" >
        <div class="col-12"><center><h3>Database Management</h3></center>
            <hr>
        </div>
      <!--Start-->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="\images\our-team\Yuvraj.jpg">
          </div>
          <div class="team-content">
            <h5 class="name">Yuvraj Mann</h5>
            <h4 class="title">Head</h4>
          </div>
          <ul class="social">
            <li><a href="https://www.linkedin.com/in/yuvraj-mann-44967517a/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <!--END-->
      <!--Start-->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="\images\our-team\Himanshu.jpg">
          </div>
          <div class="team-content">
            <h5 class="name">Himanshu</h5>
            <h4 class="title">Sub - Head</h4>
          </div>
          <ul class="social">
            <li><a href="https://www.linkedin.com/in/himanshu-aggarwal-b3b68b1a5/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <!--END-->
      </div>
      </div>
<!-- / Database Management-->

<!--Event Management-->
<div class="container mt-4">
    <div class="row d-flex justify-content-center" >
        <div class="col-12"><center><h3>Event Management</h3></center>
            <hr>
        </div>
      <!--Start-->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="\images\our-team\Dev_Bharti.jpg">
          </div>
          <div class="team-content">
            <h5 class="name">Dev Bharti</h5>
            <h4 class="title">Head</h4>
          </div>
          <ul class="social">
            <li><a href="https://www.linkedin.com/in/devnbharti/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <!--END-->
      <!--Start-->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="\images\our-team\Subinay_Jain.jpg">
          </div>
          <div class="team-content">
            <h5 class="name">Subinay Jain</h5>
            <h4 class="title">Sub - Head</h4>
          </div>
          <ul class="social">
            <li><a href="https://www.linkedin.com/in/subinay-jain-7499b3206/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <!--END-->
      </div>
      </div>
<!-- / Event Management-->

<!--Content Team-->
<div class="container mt-4">
    <div class="row d-flex justify-content-center" >
        <div class="col-12"><center><h3>Content Team</h3></center>
            <hr>
        </div>
      <!--Start-->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="\images\our-team\Ikra.jpg">
          </div>
          <div class="team-content">
            <h5 class="name">Ikra Ahmed</h5>
            <h4 class="title">Head</h4>
          </div>
          <ul class="social">
            <li><a href="https://www.linkedin.com/in/ikra-ahmed/?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAADNAj3YBsJmAhKoArafhwh7O8DeQXUcSCPA" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <!--END-->
      <!--Start-->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="\images\our-team\Garima.jpg">
          </div>
          <div class="team-content">
            <h5 class="name">Garima Modani</h5>
            <h4 class="title">Sub - Head</h4>
          </div>
          <ul class="social">
            <li><a href="https://www.linkedin.com/in/garima-modani-2a52501b9/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <!--END-->
      </div>
      </div>
<!-- / Content Team-->

<!--PUBLIC RELATIONS AND MARKETING-->
<div class="container mt-4">
    <div class="row d-flex justify-content-center" >
        <div class="col-12"><center><h3 >Public Relations & Marketing</h3></center>
            <hr>
        </div>
      <!--Start-->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="\images\our-team\Vikram.jpg">
          </div>
          <div class="team-content">
            <h5 class="name">Vikram Vishnoi</h5>
            <h4 class="title">Head</h4>
          </div>
          <ul class="social">
            <li><a href="https://www.linkedin.com/in/vikram-vishnoi-4a57051b9/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <!--END-->
      <!--Start-->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="\images\our-team\Md_Ekram.jpg">
          </div>
          <div class="team-content">
            <h5 class="name">Md Ekram</h5>
            <h4 class="title">Sub - Head</h4>
          </div>
          <ul class="social">
            <li><a href="https://www.linkedin.com/in/md-ekram-1424a6218/" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <!--END-->
      </div>
      </div>
<!-- / PUBLIC RELATIONS AND MARKETING-->

<%- include("partials/footer"); -%>
