<%- include("partials/header(res)"); -%>

<section class="shadow">
  <img class="pagehead" src="images/headers/Safarnama.png" alt="">
</section>

<!-- introduction -->
<div class="a-meet pb-5">
  <div class="container px-4 py-5 mx-auto">
    <div class="text-center pb-4">
      <h2 class="headings py-3">Safarnama</h2>
    </div>
    <div class="content-text mx-3">
      <p class="size">
        STAR hosted a series of informative webinars, which were hosted by some of our outstanding and well-established alumni who have made significant progress in their careers. We are eminently proud to present to you the journey of alumni who have excelled in the start-up environment, core engineering disciplines, and exciting research in the tech field, in order to heighten the already high fever pitch and to answer a slew of intriguing questions. Prepare to gain a wealth of knowledge and witness the storey of their beautiful journey with our series "SAFARNAMA."

        Do you want to reprise your role as the "helpful senior"? We give you the opportunity to share your vast knowledge with a new generation of students.
      </p>
      <p class="size">
        Want to play the role of that 'helpful senior' yet again? We provide you with an opportunity to impart your extensive resource of knowledge to the fresh young minds.
      </p>
      <a class="btn red-btn btn-secondary" href="/safarnama-form" target="_blank">
        <!-- https://docs.google.com/forms/d/e/1FAIpQLSdz3bARL_LtqUVmhizOT9QEceuZ09ZBw_nruq4udlm51kEHnQ/viewform?usp=sf_link -->
        Register as an Attendee
      </a>
    </div>
  </div>
  <div class="pb-3"></div>

  <!-- *********************************************** -->

  <div class="card-direct season-section border shadow-sm rounded-lg mx-5 px-2 py-2 mb-3">
    <div>
      <h2 class="season-no my-2">Season-1</h2>
      <hr />
      <!-- start of row -->

      <div class="row mx-5 py-2">
        <div class="correction colr-4 col-4 d-flex justify-content-center mb-4">
          <div class="card mx-4 shadow">
            <a
              href="https://www.youtube.com/watch?v=vLXX5dK9AuM&list=PLVPXALZWDGojL9rN8hmR6wPxknlHpNdbj" target="_blank"
            >
              <div class="card-img">
                <img
                  class="card-front"
                  src="images/safarnama/Speaker-1.jpeg"
                  alt=""
                  height="auto"
                  width="100%"
                />

                <img
                  class="card-back"
                  src="images/safarnama/About-1.jpeg"
                  alt=""
                  height="auto"
                />
              </div>
            </a>

            <div class="card-body">
              <h5 class="card-title largetext-font">Episode 1</h5>
              <p class="card-text text-justify pb-5">
                He discussed the strategies to crack FAANG interviews and discuss his experience of the interview in Google. Then he discusses how to keep a balance between DSA practice and Development. How to build an effective resume marked the end of the session.
              </p>
              <a
                href="https://www.youtube.com/watch?v=vLXX5dK9AuM&list=PLVPXALZWDGojL9rN8hmR6wPxknlHpNdbj" target="_blank"
                class="btn red-btn btn-secondary m-3"
                >Watch</a
              >
            </div>
          </div>
        </div>

        <div class="card-direct correction colr-4 col-4 d-flex justify-content-center mb-4">
          <div class="card-direct margins card mx-4 shadow">
            <a
              href="https://www.youtube.com/watch?v=Gkch0x9Sn6M&list=PLVPXALZWDGojL9rN8hmR6wPxknlHpNdbj&index=2" target="_blank"
            >
              <div class="card-img card-direct">
                <img 
                  class="card-front"
                  src="images/safarnama/Speaker-2.jpeg"
                  alt=""
                  height="auto"
                  width="100%"
                />

                <img
                  class="card-back card-direct"
                  src="images/safarnama/About-2.jpeg"
                  alt=""
                  height="auto"
                />
              </div>
            </a>
            <div class="card-body">
                <h5 class="card-title largetext-font">Episode 2</h5>
                <p class="card-text text-justify pb-5">
                  He discussed about effective resume building and Applicant Tracking system. He also talked about how to prepare for interviews.
                </p>
                <a href="https://www.youtube.com/watch?v=Gkch0x9Sn6M&list=PLVPXALZWDGojL9rN8hmR6wPxknlHpNdbj&index=2" target="_blank"class="btn red-btn btn-secondary m-3">Watch</a>
            </div>
          </div>
        </div>

        
      </div>
      <!--    SPACING  -->
  </div>
  </div>

                                                <%- include("partials/footer"); -%>