<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONT AWESOME -->
    <script
      src="https://kit.fontawesome.com/ec67052a9d.js"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/css/main.css" />
    <link rel="stylesheet" href="/styles/css/style.css" />
    <link rel="stylesheet" href="/styles/css/programs.css" />
    
    <!-- FAVICON -->

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />

    <title>UIET Alumni affair cell</title>

    <!--        NAVBAR     -->
    <nav class="navbar navbar-expand-lg fixed-top py-2">
      <!-- <div class="container" id="navu">  -->
        <a href="/" class="navbar-brand">STUDENT TEAM FOR ALUMNI RELATIONS</a>
        <button
          id="custombutton"
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler navbar-toggler-right"
        >
          <i class="fas fa-bars" style="color: white"></i>
        </button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="/" class="nav-link"
                >HOME<span class="sr-only">(current)</span></a
              >
            </li>

            <li class="nav-item menu">
              <a href="#" class="nav-link">INITIATIVES</a>
              <ul class="sub-menu">
                <li><a href="/atalk">A-Talks</a></li>
                <li><a href="/va-meet">Alumni Meet</a></li>
                <li>
                  <a href="/mentorship"
                    >Student Mentorship <br />
                    Program</a
                  >
                </li>
                <li><a href="/safarnama">Safarnama</a></li>
              </ul>
            </li>
            <li class="nav-item menu">
              <a href="#" class="nav-link">ABOUT</a>
              <ul class="sub-menu">
                <li><a href="/aboutus">About STAR</a></li>
                <li><a href="/our-team">Our Team</a></li>
                <!-- <li><a href="/gallery">Gallery</a></li> -->
              </ul>
            </li>

            <li class="nav-item">
              <a href="/contact" class="nav-link">CONTACT US</a>
            </li>
          </ul>
        </div>
      </div>
    <!-- </div> -->
    </nav>
  </head>
  <body>
    

<section class="shadow">
  <img class ="pagehead" src="images/headers/SMP.png" alt="" style="height:auto;"/>

</section>

<div class="container mt-5 mb-5">
  <div class="row">

    <div class="col">
      <h2 class="headings">Current Programs</h2>
    </div>

  </div>
</div>
<section class="light">
	<div class="container py-2">
		<article class="postcard light blue">
			<a class="postcard__img_link" href="#">
				<!-- <img class="postcard__img" src="images/programs/3d-m.svg" alt="Image Title" /> -->
        <img class="postcard__img" src="images/programs/Instructor_3D_Printing.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue">Introduction To 3D Printing</h1>
       <center><img src="images/programs/3d-m.svg" class="postcard__img" alt=""></center>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Instructor : Mr. Yash Gopal Mittal
					</time>
				</div>
        
				<!-- <div class="postcard__bar"></div> -->
				<div class="postcard__preview-txt mt-4">
  <!--
          <b>About the instructor-</b>
          <br>
          Graduated from UIET with honors in mechanical engineering.
          <br>
          Joined IIT Bombay, as a direct-to-PhD research scholar.
          <br>
          Was awarded the prestigious Prime Minister Research Fellowship (PMRF).-->
          
      <ul class="text-font"style="list-style-type:disc;">
       <li>
        Graduated from UIET with honors in mechanical engineering.
       </li>
       <li>
        Joined IIT Bombay, as a direct-to-PhD research scholar.
       </li>
     <li>
     Was awarded the prestigious Prime Minister Research Fellowship (PMRF)
     </li>
    
    </ul>
    <h5 class="align h5-font" style="color:#e21919;  font-size:25px;">Limited Seats Available!!!</h5>
    <h5 class="Time-title align" >Reg. Begins : <span id="clock"></span></h5>
     <a href="/SMP-Registration"> <button id="SMP_btn"  class="but mt-3" style="background-color: maroon;display:none; color:whitesmoke;">Register Here!</button></a>
     <br>
    <a href="https://drive.google.com/file/d/17U_j8mkfereRsGtxeGA2zjwo-GCDbIB3/preview?usp=sharing" target="_blank"> <button class="but mt-3" style="background-color: maroon; color:whitesmoke;"> View Brochure</button></a>
    </div>

			</div>
     
     
   
		</article>
    
	</div>
</section>
<h2 style="color:black;">And Many More Coming Soon...</h2>
<br>
<script>
    var btnSMP = document.getElementById("SMP_btn");
  var countDownDate = new Date("Feb 17, 2022 11:00:00").getTime();
  
  var x = setInterval(function() {
  
    var now = new Date().getTime();
  
  
    var distance = countDownDate - now;
  
  
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  
  
    document.getElementById("clock").innerHTML = " "+days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
  
   
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("clock").innerHTML = "Forms Are Out !";
      btnSMP.style.display="initial";
    }
  }, 1000);
  
  </script>
<%- include("partials/footer"); -%>
